{{#each errors}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="card">
  <p class="card-header" style="font-size: 24px;">Nova categoria</p>
  <div class="card-body">
    <form action="/admin/categorias/nova" method="POST">
      <label for="nome">Nome:</label>
      <input class="form-control mb-2" type="text" id="nome" name="nome"
        placeholder="Nome da categoria">
      <label for="slug" >Slug:</label>
      <input class="form-control" type="text" id="slug" name="slug"
        placeholder="Slug da categoria">
      </br>
      <a href="/admin/" class="btn btn-secondary">Voltar</a>
      <button type="submit" class="btn btn-success mt-2 mb-2">Criar</button>
    </form>
  </div>
</div>